@import url('https://fonts.googleapis.com/css2?family=Acme&family=Orbitron:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Source+Sans+Pro:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}
.contaier{
    background-color:#00296b; 
    width: 100%;
    padding: 5rem;
    /* max-width: 1400px; */
    margin: 0 auto;
}
.content{
    width: 100%;
    margin: 0 auto;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
label{
    display: none;
}
.sal{
    margin: 2rem 0 1rem;
}
.sal,.btn{
    font-size: 1.2rem;
    width: 100%;
    max-width: 500px;
    text-decoration: none;
    border-radius: 100px;
    background-color: gainsboro;
    padding: .8em;
    text-align: center;
    border: 0;
    outline: none;
}
::placeholder{
    color: #000;
    opacity: 0.3;
}
.btn{
    background-color: #ffd500;
    color: #fff;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.7;
}
.card{
    /* background: linear-gradient( to left, #00296b 99%,#ffd500 1% ); */
    background-color: #00296b;
    padding: 5rem;
    color: #fff;
    border-right: 5px solid #ffd500;
    border-left: 5px solid #ffd500;
    width: 80%;
    max-width: 500px;
    
}
.card + .card {
    margin-top: 2em;
}

.name{
    font-size: 1.7rem;
    width: fit-content;
    color: #fff;
    margin: 0 auto 1em ;
    position: relative;
}
.name::before {
    content: "";
    background-color: #00296b;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    animation: type 3s steps(10) 1s forwards;
}
.name::after{
    content: "";
    top: 0;
    animation: type 3s steps(10) 1s forwards,
    stick 600ms steps(10) infinite;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    position: absolute;
    width: 0.125em;
    background-color: #fff;
}
@keyframes type{
    to{
        left:100%
    }
} 
@keyframes stick{
    to{
        background: transparent;
    }
}
